
.ThemeToggle {
    
    @apply mr-3 my-5 px-1 py-1;
    @apply text-3xl text-black opacity-60 hover:opacity-100;
    @apply dark:text-gray-200;
    @apply transition-opacity duration-500 ease-in-out;
    @apply cursor-pointer;
    
    /* @apply border border-green-500 */
    
}
